<div class="listContainer">
    <h1 style="color: white">Welcome {{currentUser}}</h1>>
    <div class="listDropdownContainer">
        <mat-form-field appearance="fill">
            <mat-label>Choose List</mat-label>
            <mat-select>
                <mat-option *ngFor="let list of userLists" value="user"
                    (click)="handleListSelect(list)">{{list.listType}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let book of books; let i = index" cdkDrag (click)="book.expanded = !book.expanded" [id]="i" style="background-color:black">
            <div  class="basicBox" *ngIf="book.expanded === false"
                [ngStyle]="{'background-color': 'hsl('+(360-(i * 10))+',50%, 50%)'}"
                [style.box-shadow]="'hsla('+(360-(i * 10))+', 50%, 50%, 0.4) -5px 5px, hsla(' +(360-(i * 10))+', 50%, 50%, 0.3) -10px 10px , hsla(' +(360-(i * 10))+', 50%, 50%, 0.2) -15px 15px' "  
            >
                <h1 class="expandedBookTitle">{{book.Book.title}}</h1>
                <h3 *ngIf="book.Book.seriesName" class="expandedBookSeries">{{book.Book.seriesName}} Book: {{book.Book.seriesNumber}}</h3>
                <h3 class="expandedBookAuthor">Author: {{book.Book.author}}</h3>
                <p class="bookIndex">{{book.index}}</p>
            </div>
            <div class="expandedBox" *ngIf="book.expanded === true" 
                [style.box-shadow]="'hsla('+(360-(i * 10))+', 50%, 50%, 0.4) -5px 5px, hsla(' +(360-(i * 10))+', 50%, 50%, 0.3) -10px 10px , hsla(' +(360-(i * 10))+', 50%, 50%, 0.2) -15px 15px' " 
                [style.background-color]="'hsl('+(360-(i * 10))+',50%, 50%)'"
            >
                <div class="expandedBookInfoContainer">
                    <h1 class="expandedBookTitle">{{book.Book.title}}</h1>
                    <h3 *ngIf="book.Book.seriesName" class="expandedBookSeries">{{book.Book.seriesName}} Book: {{book.Book.seriesNumber}}</h3>
                    <h3 class="expandedBookAuthor">Author: {{book.Book.author}}</h3>
                    <div class="horizontalLine"></div>
                    <div class="expandedBookMiniContainer">
                        <div style="display: flex; width: 100%">
                            <div class="w-50">
                                <p class="expandedBookMiniText">Genre: {{book.Book.genre}}</p>
                                <p class="expandedBookMiniText">Page Count: {{book.Book.pageCount}}</p>
                                <p class="expandedBookMiniText">
                                    Audiobook
                                    <input class="expandedBookAudioBookCheckbox" *ngIf="book.audioBook" type="checkbox"
                                        checked>
                                    <input class="expandedBookAudioBookCheckbox" *ngIf="!book.audioBook" type="checkbox">
                                </p>
                            </div>
                            <div class="w-50">
                                <p class="expandedBookMiniText">Release Date: {{book.Book.publishDate}}</p>
                                <p class="expandedBookMiniText">Publisher: {{book.Book.publisher}}</p>
                                <p class="expandedBookMiniText">Rating: {{book.raiting}}</p>
                            </div>
                        </div>
                        <div class="horizontalLine"></div>
                        <h3 stlye="margin-bottom: 0px">Reads</h3>
                        <div *ngFor="let read of book.Reads" stlye="width: 100%" class="expandedBookReadsContainer">
                            <p class="w-50">Start Date: {{read.startDate}}</p>
                            <p class="w-50">End Date: {{read.endDate}}</p>
                        </div>
                    </div>
                </div>
                <div class="expandedBookCoverContainer">
                    <img class="expandedBookCover" [src]="book.Book.coverImg">
                </div>
            </div>
        </div>
    </div>
</div>
<button (click)="onSave()">Save</button>