<div class="listContainer">
    <h1 style="color: white">Welcome {{currentUser}}</h1>>
    <div class="listDropdownContainer">
        <mat-form-field appearance="fill">
            <mat-label>Choose User</mat-label>
            <mat-select>
                <mat-option *ngFor="let user of users" value="user" (click)="handleUserSelect(user)">{{user.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Choose List</mat-label>
            <mat-select>
                <mat-option *ngFor="let list of userLists" value="user"
                    (click)="handleListSelect(list)">{{list.listType}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let book of books" cdkDrag>
            <h3 style="margin:0px; color: black">{{book.Book.title}}</h3>
            <p>{{book.Book.author}}</p>
            <p>{{book.index}}</p>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                  <mat-icon>voicemail</mat-icon>
                  <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
                </button>
              </mat-menu>
        </div>
    </div>
</div>