<div style="display:flex; flex-direction: column; align-items: center; justify-content: center;">
    <h1 style="color:white">Gallery</h1>
    <mat-grid-list cols="5" rowHeight="500px" style="width: 98%" gutterSize="16px">
        <mat-grid-tile *ngFor="let book of data" (click)="handleClick(book)" >
            <div class="galleryCard">
                <h3 style="color: white">{{book.title}}</h3>
                <img [src]="book.coverImg" class="cover" />
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <app-edit-book-menu *ngIf="displayPopup" class="editMenu" (whenClose)="handleClose()"
        [book]="currentBook"></app-edit-book-menu>
</div>.