<h1>Gallery</h1>
<mat-grid-list cols="2" rowHeight="2:1" style="width: 100%">
    <mat-grid-tile *ngFor="let book of data" style="width: 20vw">
        <div>
            <p>Title: {{book.title}}</p>
            <p>Author: {{book.author}}</p>
            <p>Page Count: {{book.pageCount}}</p>
            <p>Publication Date: {{book.publishYear}}</p>
            <p>Series: {{book.seriesName}}</p>
            <p>Series Order: {{book.seriesNumber}}</p>
            <p>Genre: {{book.genre}}</p>
            <p>Publisher: {{book.publisher}}</p>
        </div>
    <img [src]="book.coverImg" class="cover"/> 
</mat-grid-tile>
</mat-grid-list>